node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

/src/generated/prisma

# Google Cloud Service Account Credentials
service-account.json

# Uploaded files
uploads/
